<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jaihoportal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/jaiho_logo"
      android:roundIcon="@mipmap/jaiho_logo"
      android:allowBackup="false">
      <!-- Add this SplashActivity -->
        <activity
          android:name=".SplashActivity"
          android:windowSoftInputMode="adjustResize"
          android:theme="@style/SplashTheme"
          android:label="@string/app_name">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity>
      <activity
        android:name=".MainActivity"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
